.footer {
  min-height: 30vh;
  background-color: rgb(61, 44, 3);
  border-radius: 50px 50px 0 0;
  overflow: hidden;
}

.top {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.logo img {
  padding: 10px;
}

.logo h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13px;
  transform: translateX(13px) translateY(-14px);
  color: white;
  z-index: 1;
  background-color: var(--color-third);
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  max-width: 60%;
  flex-wrap: wrap;
  gap: 20px;
}

.social_title {
  font-size: 18px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

.list_social svg {
  color: white;
  font-size: 30px;
}

.bottom {
  width: 90%;
  margin: 0px auto 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyRights {
  margin-bottom: 30px;
}

.title_copyRight {
  font-size: 18px;
  color: rgb(231, 231, 231);
  font-weight: 600;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
  flex-wrap: wrap;
}

.ALPHA_CODEZ {
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 18px;
  position: relative;
  transform: translateY(2px);
}

.info {
}

.info_list {
  list-style: disc;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: white;
  flex-wrap: wrap;
}

.info_list li {
  margin: 0 10px;
}

@media (max-width: 1160px) {
  .bottom {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 80px;
    height: 80px;
  }

  .logo h1 {
    font-size: 9px;
  }

  .social_title {
    font-size: 14px;
  }

  .social {
    justify-content: center;
  }

  .title_copyRight {
    font-size: 12px;
    justify-content: center;
    gap: 0px;
    text-align: center;
    line-height: 190%;
  }

  .info_list {
    justify-content: center;
  }
}
