.list {
  margin: 20px 0 50px;
}

.title {
  color: var(--color-text-p);
}

@media (max-width: 1105px) {
  .list {
    justify-content: center;
    gap: 50px;
  }

  .title {
    text-align: center;
  }
}
